.heading {
  &__1,
  &__2,
  &__3 {
    font-weight: 700;
    line-height: 1.3;
  }

  &__1 {
    font-size: 1.6em;
  }

  &__2 {
    font-size: 1.2em;
  }

  &__3 {
    font-size: 1.1em;
  }
}

.text-center {
  text-align: center;
}
