.heading {
  &__1,
  &__2,
  &__3 {
    font-weight: 700;
  }

  &__1 {
    font-size: 2.3em;
  }

  &__2 {
    font-size: 1.6em;
  }

  &__3 {
    font-size: 1.4em;
  }
}

.text-center {
  text-align: center;
}
