$left-paddng: 180px;
$left-padding-medium: 100px;
$right-padding: 110px;
$right-padding-medium: 30px;

.dates {
  &__text {
    margin: 40px 0;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    td {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    td:first-child {
      padding-left: $left-paddng;

      @include screen-md-max {
        padding-left: $left-padding-medium;
      }

      @include screen-sm-max {
        padding-left: 0;
      }
    }

    td:nth-child(2) {
      text-align: center;
    }

    td:nth-child(3) {
      padding-right: $right-padding;
      text-align: center;

      @include screen-md-max {
        padding-right: $right-padding-medium;
      }

      @include screen-sm-max {
        padding-right: 0;
      }
    }
  }

  &__thead {
    background-color: $light-gray-color;
  }

  &__th {
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 15px;

    &.is-colspan {
      font-weight: 500;
      padding-bottom: 0;
      padding-right: $right-padding + 36px;

      @include screen-md-max {
        padding-right: $right-padding-medium;
      }

      @include screen-sm-max {
        padding-right: 0;
      }
    }

    &.is-to-left {
      text-align: left;
      padding-left: $left-paddng;

      @include screen-md-max {
        padding-left: $left-padding-medium;
      }

      @include screen-sm-max {
        padding-left: 0;
      }
    }

    &.with-right-padding {
      padding-right: $right-padding;

      @include screen-md-max {
        padding-right: $right-padding-medium;
      }

      @include screen-sm-max {
        padding-right: 0;
      }
    }
  }

  &__td-to-right {
    width: 60px;
    display: inline-block;
    text-align: right;

    &.is-center {
      text-align: center;
    }
  }

  &__row {
    border-bottom: 1px solid black;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: $accent-color;
    }
  }

  &__details {
    color: $primary-color;
    font-weight: 500;
  }

  &__image {
    max-width: 800px;
    margin: 10px auto 35px;
    display: block;
    height: auto;
    width: 100%;
  }
}
