.footer {
  &__section {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;

    @include screen-sm-max {
      padding-top: 10px;
      display: block;
      text-align: center;
    }
  }

  &__contact-list {
    list-style-type: none;
    padding: 0;
    font-weight: 500;
    margin: 0;
    display: flex;

    @include screen-sm-max {
      display: block;
      margin: 25px 0;
    }
  }

  &__rules {
    list-style-type: none;
    padding-left: 0;
    margin: 8px 0 0;
    line-height: 26px;
  }

  &__left-col {
    display: flex;
    flex-basis: 100%;
    align-items: center;

    @include screen-sm-max {
      display: block;
    }
  }

  &__right-col {
    display: none;

    @include screen-sm-max {
      display: block;
    }
  }

  &__contact-link {
    color: $primary-color;

    &:hover {
      color: $primary-color;
    }
  }

  &__contact-el {
    margin: 0 0 0 40px;

    @include screen-sm-max {
      margin: 0 0 10px 0;
    }
  }

  &__social-icons {
    margin: 0 0 0 auto;

    @include screen-sm-max {
      margin: 25px 0;
    }
  }

  &__icon {
    width: 35px;
    height: auto;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}
