.header {
  height: 85px;
  background-color: $white;
  margin-bottom: 70px;

  @include screen-sm-max {
    box-shadow: none;
    height: 69px;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 30px;
  }

  &__logo {
    max-height: 35px;

    @include screen-sm-max {
      max-height: 22px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__link {
    font-size: 0.9em;

    @include screen-sm-max {
      font-size: 0.65em;
    }
  }
}
