.join {
  &__section-wrapper {
    background-color: $accent-color;
  }

  &__section {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include screen-sm-max {
      flex-direction: column;
      text-align: center;
    }
  }

  &__header {
    margin: 0;
  }

  &__text {
    margin: 0;
    font-size: 1.3em;
    text-align: right;

    @include screen-sm-max {
      text-align: center;
    }
  }

  &__button {
    margin-top: 20px;

    @include screen-sm-max {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  &__break {
    @include screen-sm-max {
      display: none;
    }
  }
}
