.points {
  &__section {
    max-width: 700px;
  }

  &__header-wrapper {
    margin-bottom: 0.67em;
    text-align: center;
  }

  &__list-warning {
    color: $accent-color;
  }

  &__list-wrapper {
    overflow: hidden;
    color: $primary-color;
  }

  &__number {
    font-weight: 500;
    height: 80px;
    width: 80px;
    border: 5px solid $primary-color;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 45px;
    position: relative;
    background-color: $white;
    font-size: 1.7em;
    flex: 0 0 auto;

    &.is-alt {
      border-color: $accent-color;
    }

    &.with-line:before,
    &.with-mask:before {
      z-index: -1;
      margin: auto;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      width: 10px;
      height: 800px;
    }

    &.with-line:before {
      background-color: $primary-color;
    }

    &.with-mask:before {
      background-color: $white;
    }
  }

  &__text {
    display: inline-block;
    font-size: 1.2em;
  }

  &__list-el {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
}
