.points {
  &__header {
    margin-top: 0;
    margin-bottom: 40px;
  }

  &__list-warning {
    color: $accent-color-darker;
  }

  &__list-wrapper {
    overflow: hidden;
    color: $primary-color;

    @include screen-md-min {
      display: flex;
    }
  }

  &__number {
    font-weight: 500;
    height: 70px;
    width: 70px;
    border: 5px solid $primary-color;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    position: relative;
    background-color: $white;
    font-size: 1.7em;
    flex: 0 0 auto;

    @include screen-sm-min {
      margin-right: 30px;
    }

    @include screen-md-min {
      font-size: 1em;
      width: 40px;
      height: 40px;
      border-width: 2px;
      margin-right: 0px;
    }

    &.is-warning {
      border-color: $accent-color-darker;

      @include screen-md-min {
        font-size: 1.6em;
        margin-right: 15px;
      }
    }

    &.with-line:before,
    &.with-mask:before {
      margin: auto;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 65px;
      width: 6px;
      height: 800px;

      @include screen-md-min {
        top: 16px;
        height: 4px;
        width: 900px;
        left: 38px;
      }
    }

    &.with-line:before {
      background-color: $primary-color;
    }

    &.with-mask:before {
      background-color: $white;
    }
  }

  &__text {
    display: inline-block;
    font-size: 1.2em;

    @include screen-md-min {
      text-align: center;
      font-size: 0.85em;
      margin-top: 20px;
    }

    &.is-warning {
      @include screen-md-min {
        margin-top: 2px;
      }
    }
  }

  &__list-el {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    @include screen-md-min {
      flex-direction: column;
      flex: 1 1 0;
      padding-right: 15px;
    }

    &:last-child {
      @include screen-md-min {
        padding-right: 0;
      }
    }

    &.is-warning {
      margin-bottom: 0;

      @include screen-md-min {
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}
