.shopping {
  &__header {
    margin-top: 43px;

    @include screen-sm-max {
      margin-top: 0.67em;
    }
  }

  &__cards-image,
  &__card-image {
    width: 100%;
    height: auto;
  }

  &__cards-image {
    margin-bottom: 40px;

    @include screen-sm-max {
      display: none;
    }
  }

  &__card-image {
    display: none;
    @include screen-sm-max {
      display: block;
    }
  }

  &__coins-abbr {
    display: block;
    font-size: 0.7em;
    margin-top: 23px;
  }

  &__coins-wrapper {
    display: flex;
    margin-bottom: 60px;

    @include screen-sm-max {
      flex-direction: column;
    }
  }

  &__coins-image {
    align-self: baseline;
    max-width: 387px;

    @include screen-sm-max {
      max-width: initial;
      width: 100%;
      height: auto;
      order: -1;
    }
  }

  &__coins-text {
    max-width: 450px;
    margin-right: 10px;
    margin-top: 0;
    margin-left: 0;
    font-size: 1.2em;

    @include screen-sm-max {
      max-width: initial;
    }
  }
}
