.voucher {
  &__section {
    display: flex;

    @include screen-sm-max {
      flex-direction: column;
      margin-top: 60px;
    }
  }

  &__right-col {
    flex: 1 1 auto;
    background: url('../images/voucher.jpg') center/cover no-repeat;

    @include screen-sm-max {
      height: 400px;
    }
  }

  &__left-col {
    flex-basis: 65%;
    width: 65%;
    padding-right: 46px;

    @include screen-sm-max {
      flex-basis: 100%;
      width: 100%;
      background-color: #f4f4f4;
      padding: 30px;
      border-bottom: 4px solid $accent-color-darker;
    }

    @include screen-xs-max {
      padding: 15px;
    }
  }

  &__card-text {
    margin-top: 0;
    font-size: 1.1em;
    line-height: 1.5;
  }

  &__card-texts {
    display: flex;

    @include screen-sm-max {
      justify-content: space-between;
    }

    @include screen-xs-max {
      flex-direction: column;
    }
  }

  &__hr {
    background-color: #e4e4e4;
    height: 1px;
    border: 0;
    margin: 30px 0;

    @include screen-sm-max {
      display: none;
    }
  }

  &__card-right-col {
    color: $primary-color;
    font-size: 2em;
    line-height: 1.1;
    font-weight: 700;
    white-space: nowrap;
  }

  &__card-left-col {
    margin-right: 35px;

    @include screen-xs-max {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__card-big-number {
    font-size: 2em;
  }

  &__header {
    margin: 0 0 10px;
    font-size: 1.3em;

    .accent-underline {
      @include screen-sm-max {
        background-image: none;
      }
    }
  }

  &__card-abbr {
    font-size: 0.7em;
    color: #a0a0a0;
    margin-top: 27px;

    @include screen-sm-max {
      display: none;
    }
  }

  &__rules {
    font-size: 0.9em;
    margin: 0;
  }

  &__footer {
    @include screen-sm-max {
      display: none;
    }
  }

  &__footer-mobile {
    display: none;

    @include screen-sm-max {
      display: block;
    }
  }

  &__mobile-abbr {
    margin-top: 27px;
    margin-bottom: 50px;
  }

  &__mobile-rules {
    margin-top: 20px;
  }

  &__image {
    display: none;

    @include screen-sm-max {
      display: block;
      width: 100%;
      height: auto;
      margin-top: 30px;
      margin-bottom: 40px;
    }
  }
}
