<section class="section is-wider">
  <p class="dates__text text-center">
    Chcesz jechać w innym terminie, a może jedziesz większą grupą? Nie ma problemu!
    <br><strong>Sprawdź tabelę</strong> dopłat poniżej
  </p>
  <table class="dates__table">
    <thead class="dates__thead">
    <tr>
      <th class="dates__th is-to-left" rowspan="2">Dostępne terminy</th>
      <th class="dates__th is-colspan" colspan="2">Jednorazowa dopłata do vouchera</th>
    </tr>
    <tr>
      <th class="dates__th">apartament 40m<sup>2</sup></th>
      <th class="dates__th with-right-padding">dom 85m<sup>2</sup></th>
    </tr>
    </thead>
    <tbody>
    <tr class="dates__row">
      <td>01.10.2020 - 30.04.2021</td>
      <td><span class="dates__td-to-right">0 zł</span></td>
      <td><span class="dates__td-to-right is-center">-</span></td>
    </tr>
    <tr class="dates__row">
      <td>01.09.2020 - 30.09.2020</td>
      <td><span class="dates__td-to-right">293 zł</span></td>
      <td><span class="dates__td-to-right">393 zł</span></td>
    </tr>
    <tr class="dates__row">
      <td>09.11.2020 - 15.11.2020</td>
      <td><span class="dates__td-to-right">853 zł</span></td>
      <td><span class="dates__td-to-right">1093 zł</span></td>
    </tr>
    <tr class="dates__row">
      <td>1.10.2020 - 30.04.2021</td>
      <td><span class="dates__td-to-right">124 zł</span></td>
      <td><span class="dates__td-to-right">1246 zł</span></td>
    </tr>
    <tr class="dates__row">
      <td>01.09.2020 - 30.09.2020</td>
      <td><span class="dates__td-to-right">345 zł</span></td>
      <td><span class="dates__td-to-right">543 zł</span></td>
    </tr>
    <tr class="dates__row">
      <td>09.11.2020 - 15.11.2020</td>
      <td><span class="dates__td-to-right">562 zł</span></td>
      <td><span class="dates__td-to-right">3452 zł</span></td>
    </tr>
    <tr class="dates__row">
      <td>01.10.2020 - 30.04.2021</td>
      <td><span class="dates__td-to-right">1052 zł</span></td>
      <td><span class="dates__td-to-right">1209 zł</span></td>
    </tr>
    <tr class="dates__row">
      <td>01.09.2020 - 30.09.2020</td>
      <td><span class="dates__td-to-right">2052 zł</span></td>
      <td><span class="dates__td-to-right">1518 zł</span></td>
    </tr>
    <tr class="dates__row">
      <td>09.11.2020 - 15.11.2020</td>
      <td><span class="dates__td-to-right">4510 zł</span></td>
      <td><span class="dates__td-to-right">5714 zł</span></td>
    </tr>
    <tr>
      <td colspan="3" class="dates__details">Zobacz szcegóły na lata 2020-2023</td>
    </tr>
    </tbody>
  </table>
  <img class="dates__image" src="../images/shopping-cards-inverse.png" alt="5-dniowe wakacje dla 4 osób w luksusowym apartamencie">
</section>