<footer class="section footer__section">
  <div class="footer__left-col">
    <strong>Chcesz wiedzieć więcej?</strong>
    <ul class="footer__contact-list">
      <li class="footer__contact-el">
        telefon:
        <a href="tel:+48539145250" class="footer__contact-link">+48 539 145 250</a>
      </li>
      <li class="footer__contact-el">
        e-mail:
        <a href="mailto:klub@erli.pl" class="footer__contact-link">klub@erli.pl</a>
      </li>
    </ul>
    <div>
      <img src="../images/facebook-icon.png" alt="Facebook" class="footer__icon">
      <img src="../images/instagram-icon.png" alt="Instagram" class="footer__icon">
    </div>
  </div>
  <div class="footer__right-col">
    <strong>Pobierz:</strong>
    <ul class="footer__rules">
      <li>Regulamin promocji</li>
      <li>Tabela dopłat</li>
    </ul>
  </div>
</footer>