<footer class="section footer__section">
  <div class="footer__left-col">
    <strong>Chcesz wiedzieć więcej?</strong>
    <ul class="footer__contact-list">
      <li class="footer__contact-el">
        telefon:
        <a href="tel:+48539145250" class="footer__contact-link">+48 539 145 250</a>
      </li>
      <li class="footer__contact-el">
        e-mail:
        <a href="mailto:klub@erli.pl" class="footer__contact-link">klub@erli.pl</a>
      </li>
    </ul>
    <div class="footer__social-icons">
      <img src="../images/facebook-icon.png" alt="Facebook" class="footer__icon">
      <img src="../images/instagram-icon.png" alt="Instagram" class="footer__icon">
    </div>
  </div>
  <div class="footer__right-col">
    <strong>Pobierz:</strong>
    <ul class="footer__rules">
      <li>
        <a href="https://erli.pl/regulaminy/program-lojalnosciowy">Regulamin promocji</a>
      </li>
      <li>
        <a
          href="https://assets.website-files.com/5f5a04ba81d4265cc72d3e98/5f8463be2999873c93013246_erli-klub-tabela-doplat-20201012.pdf"
        >
          Tabela dopłat
        </a>
      </li>
    </ul>
  </div>
</footer>