<section class="section is-wider">
  <div class="holidays__wrapper">
    <div class="holidays__texts">
      <h2 class="heading__2 holidays__header">
        <span class="accent-underline">Wymarzone wakacje</span>
        w luksusowych ośrodkach Holiday Park & Resort
      </h2>
      <div class="holidays__logo-with-text">
        <img class="holidays__logo" src="../images/hpr-logo.png" alt="Holiday Park & Resort">
        <div class="holidays__logo-text">
          <strong>
            <span class="holidays__big-number">6</span>
            <br>lokalizacji
            <br>nad Bałtykiem
          </strong>
        </div>
      </div>
      <p class="holidays__text">
        •&nbsp;Rowy •&nbsp;Mielno •&nbsp;Ustronie Morskie •&nbsp;Pobierowo •&nbsp;Niechorze •&nbsp;Kołobrzeg
      </p>
    </div>
    <div class="holidays__slider">
      <div class="holidays__slider-image"></div>
    </div>
  </div>
</section>