<section class="section content-section">
  <div class="holidays__wrapper">
    <div class="holidays__left-col">
      <h2 class="heading__2 holidays__header">
        <span class="accent-underline">Wymarzone wakacje</span>
        w luksusowych ośrodkach Holiday Park & Resort
      </h2>
      <img class="holidays__logo" src="../images/hpr-logo-long.png" alt="Holiday Park & Resort">
      <img class="holidays__logo-small" src="../images/hpr-logo.png" alt="Holiday Park & Resort">
    </div>
    <div class="holidays__slider-main">
      <div class="holidays__slider-wrapper" slider-wrapper>
        <div class="holidays__slider holidays__slider-1"></div>
        <div class="holidays__slider holidays__slider-2"></div>
        <div class="holidays__slider holidays__slider-3"></div>
        <div class="holidays__slider holidays__slider-4"></div>
        <div class="holidays__slider holidays__slider-5"></div>
        <div class="holidays__slider holidays__slider-6"></div>
        <div class="holidays__slider holidays__slider-7"></div>
      </div>
      <div class="holidays__slider-arrow-left" slider-left></div>
      <div class="holidays__slider-arrow-right" slider-right></div>
      <div class="holidays__slider-indicator" slider-indicator>
        <div class="holidays__slider-dot is-active"></div>
        <div class="holidays__slider-dot"></div>
        <div class="holidays__slider-dot"></div>
        <div class="holidays__slider-dot"></div>
        <div class="holidays__slider-dot"></div>
        <div class="holidays__slider-dot"></div>
        <div class="holidays__slider-dot"></div>
      </div>
    </div>
    <div class="holidays__right-col">
      <div class="holidays__text-big">
        <span class="holidays__big-number">6</span>
        <span>
          lokalizacji <br>
          nad Bałtykiem
        </span>
      </div>
      <div class="holidays__list">
        <div class="holidays__list-left">
          <div class="holidays__list-el">Kołobrzeg</div>
          <div class="holidays__list-el">Mielno</div>
          <div class="holidays__list-el">Ustronie Morskie</div>
        </div>
        <div class="holidays__list-right">
          <div class="holidays__list-el">Rowy</div>
          <div class="holidays__list-el">Pobierowo</div>
          <div class="holidays__list-el">Niechorze</div>
        </div>
      </div>
    </div>
  </div>
</section>
