<section class="join__section-wrapper" data-js-selector="join-section">
  <div class="section content-section is-accent join__section">
    <div class="join__left-col">
      <h1 class="heading__1 join__header">Wymarzone wakacje są w Twoim zasięgu!</h1>
      <a href="https://erli.pl/konto/zaloguj" class="primary-button join__button">Dołącz do Klubu Erli</a>
    </div>
    <div class="join__right-col">
      <p class="join__text">
        Łączna pula nagród: <br class="join__break">
        <strong class="underline">187&nbsp;500&nbsp;000&nbsp;zł</strong>
      </p>
    </div>
  </div>
</section>