<section class="section content-section points__section">
  <h2 class="heading__2 points__header">
    <span class="accent-underline">Zobacz jakie to proste:</span>
  </h2>
  <div class="points__list-wrapper">
    <div class="points__list-el">
      <div class="points__number with-line">1</div>
      <div class="points__text">
        <strong>Zarejestruj się</strong> bezpłatnie na <strong>Erli.pl</strong>
      </div>
    </div>
    <div class="points__list-el">
      <div class="points__number">2</div>
      <div class="points__text">
        <strong>Rób zakupy</strong>, płacąc za pomocą PayU i <strong>zbieraj e-punkty</strong>
      </div>
    </div>
    <div class="points__list-el">
      <div class="points__number">3</div>
      <div class="points__text">
        <strong>Oceniaj</strong> zakupione produkty, aby aktywować e-punkty
      </div>
    </div>
    <div class="points__list-el">
      <div class="points__number with-mask">4</div>
      <div class="points__text">
        <strong>Uzbieraj</strong> 1285 e-punktów i
        <a href="https://assets.website-files.com/5f5a04ba81d4265cc72d3e98/5f7acdec20c4f5ea267a5691_Opis%20nagrody%2001102020.pdf"><strong class="underline">odbierz voucher</strong></a>
        o wartości 1285 zł na luksusowe wakacje
      </div>
    </div>
  </div>
  <div class="points__list-warning">
    <div class="points__list-el is-warning">
      <div class="points__number is-warning">!</div>
      <div class="points__text is-warning">
        IM WIĘCEJ E-PUNKTÓW UZBIERASZ, <strong>TYM WIĘCEJ VOUCHERÓW ODBIERASZ!</strong>
      </div>
    </div>
  </div>
</section>