<section class="section content-section shopping__section">
  <div class="shopping__left-col">
    <h1 class="heading__1 shopping__header">
      Rób zakupy, zbieraj e-punkty
      i wyjeżdżaj <span class="accent-underline">na luksusowe wakacje!</span>
    </h1>
    <img
      class="shopping__card-image"
      src="../images/shopping-card.png"
      alt="5-dniowe wakacje dla 4 osób w luksusowym apartamencie"
    >
  </div>
  <div class="shopping__right-col">
    <img
      class="shopping__coins-image"
      src="../images/coins.png"
      alt="1 zł wydane na zakupy na erli.pl = 1 e-punkt na koncie w erli klub"
    >
    <p class="shopping__coins-text">
      <strong>Uzbieraj 1285 e-punktów*</strong> aby odebrać voucher na
      <strong class="underline">5-dniowe wakacje dla 4 osób</strong>
      w luksusowym apartamencie 40 m<sup>2</sup> nad polskim morzem!
      <abbr class="shopping__coins-abbr">
        * Za jeden produkt można uzyskać maksymalnie 1000 e-punktów
        (<a href="https://erli.pl/regulaminy/program-lojalnosciowy" class="underline">regulamin Klubu Erli</a>)
      </abbr>
    </p>
  </div>
</section>