<section class="section">
  <img class="shopping__card-image" src="../images/shopping-card.png" alt="5-dniowe wakacje dla 4 osób w luksusowym apartamencie">
  <h1 class="heading__1 text-center shopping__header">
    Rób zakupy, zbieraj e-punkty
    i wyjeżdżaj <span class="accent-underline">na luksusowe wakacje!</span>
  </h1>
  <img class="shopping__cards-image" src="../images/shopping-cards.png" alt="5-dniowe wakacje dla 4 osób w luksusowym apartamencie">
  <div class="shopping__coins-wrapper">
    <p class="shopping__coins-text">
      <strong>Uzbieraj 1285 e-punktów*</strong> aby odebrać voucher na
      <a href="https://assets.website-files.com/5f5a04ba81d4265cc72d3e98/5f7acdec20c4f5ea267a5691_Opis%20nagrody%2001102020.pdf">
        <strong class="underline">5-dniowe wakacje dla 4 osób</strong>
      </a>
      w luksusowym apartamencie 40 m<sup>2</sup> nad polskim morzem!

      <abbr class="shopping__coins-abbr">
        * Za jeden produkt można uzyskać maksymalnie 1000 e-punktów (regulamin Klubu Erli)
      </abbr>
    </p>
    <div class="spacer"></div>
    <img class="shopping__coins-image" src="../images/coins.png" alt="1 zł wydane na zakupy na erli.pl = 1 e-punkt na koncie w erli klub">
  </div>
</section>