<section class="section content-section voucher__section">
  <div class="voucher__left-col">
    <div class="voucher__card-texts">
      <div class="voucher__card-left-col">
        <h2 class="heading__2 voucher__header">
          <span class="accent-underline">
            5-dniowy pobyt w luksusowym<br>
            apartamencie 40m<sup>2</sup> nad Bałtykiem
          </span>
        </h2>
        <span>dla całej Twojej rodziny (max 4 osoby)</span>
        <div class="voucher__card-abbr">
          Pobyty dostępne od 01.10.2020 - 30.04.2021 z wyłączeniem świąt. Szczegóły w regulaminie.
        </div>
      </div>
      <div class="voucher__card-right-col">
        <span class="voucher__card-big-number">1285</span>
        <br>e-punktów
      </div>
    </div>
    <hr class="voucher__hr">
    <div class="voucher__footer">
      <h2 class="heading__2">
        Voucher na 5-dniowe wakacje
        możesz wykorzystać <span class="accent-underline">na inne sposoby!</span>
      </h2>
      <p class="voucher__rules">
        Chcesz jechać w innym terminie, a może jedziesz większą grupą? Nie ma problemu!
        <a
          href="https://assets.website-files.com/5f5a04ba81d4265cc72d3e98/5f8463be2999873c93013246_erli-klub-tabela-doplat-20201012.pdf"
          class="text-link underline"
        >
          Sprawdź tabelę dopłat (PDF)
        </a>
      </p>
    </div>
  </div>
  <div class="voucher__right-col"></div>
  <div class="voucher__footer-mobile">
    <div class="voucher__mobile-abbr">
      Pobyty dostępne od 01.10.2020 - 30.04.2021 z wyłączeniem świąt. Szczegóły w regulaminie.
    </div>
    <h2 class="heading__2">
      Voucher na 5-dniowe wakacje
      możesz wykorzystać <span class="accent-underline">na inne sposoby!</span>
    </h2>
    <p class="voucher__mobile-rules">
      Chcesz jechać w innym terminie, a może jedziesz większą grupą? Nie ma problemu!
      <a
        href="https://assets.website-files.com/5f5a04ba81d4265cc72d3e98/5f8463be2999873c93013246_erli-klub-tabela-doplat-20201012.pdf"
        class="text-link underline"
      >
        Sprawdź tabelę dopłat (PDF)
      </a>
    </p>
  </div>
  <img src="../images/shopping-cards-inverse.png" alt="Voucher o wartości 1285 zł" class="voucher__image">
</section>