<section class="section is-wider">
  <div class="voucher__card">
    <div class="voucher__card-texts">
      <header class="voucher__card-header">
        <strong>
          <span class="voucher__card-big-number">1285</span>
          <br>e-punktów
        </strong>
      </header>
      <p class="voucher__card-text">
        <span class="voucher__card-big-text">
          <strong>5-dniowy pobyt w apartamencie 40m<sup>2</sup></strong>
        </span>
        <br>dla całej Twojej rodziny (max 4 osoby)
      </p>
      <div class="voucher__card-abbr">
        Pobyty dostępne od 01.10.2020 - 30.04.2021 z wyłączeniem świąt. Szczegóły w regulaminie.
      </div>
    </div>
    <div class="voucher__card-image"></div>
  </div>
  <h2 class="heading__2 text-center voucher__footer">
    Voucher na 5-dniowe wakacje
    możesz wykorzystać <span class="accent-underline">na inne sposoby!</span>
  </h2>
</section>